@import "../../../styles/variables.scss";

.input {
  border: 2px solid $c-blue;
  border-radius: 10px;
  padding: 0 20px;
  color: $c-dark;
  font-size: 17px;
  transition: $transitionDefaultDuration all ease;

  &:focus {
    border: 2px solid $c-blue-dark;
  }
}
